<FilesMatch "check_mws_access.php">
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
	Allow from all
    </IfModule>
</FilesMatch>

<FilesMatch "update_frontend_links.php">
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
	Allow from all
    </IfModule>
</FilesMatch>

<FilesMatch "backup_tables.php">
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
	Allow from all
    </IfModule>
</FilesMatch>

<FilesMatch "migrate_tables.php">
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
	Allow from all
    </IfModule>
</FilesMatch>

<FilesMatch "ipn.php">
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
	Allow from all
    </IfModule>
</FilesMatch>

<FilesMatch "cron.php">
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
	Allow from all
    </IfModule>
</FilesMatch>

<FilesMatch "lpa_ajax_.*.php">
    <IfModule mod_access_compat.c>
        Order allow,deny
        Allow from all
    </IfModule>
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
	Allow from all
    </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteRule ^version/100/frontend/ipn.php$ version/104/frontend/ipn.php
    RewriteRule ^version/101/frontend/ipn.php$ version/104/frontend/ipn.php
    RewriteRule ^version/102/frontend/ipn.php$ version/104/frontend/ipn.php
    RewriteRule ^version/103/frontend/ipn.php$ version/104/frontend/ipn.php
    RewriteRule ^version/100/frontend/cron.php$ version/104/frontend/cron.php
    RewriteRule ^version/101/frontend/cron.php$ version/104/frontend/cron.php
    RewriteRule ^version/102/frontend/cron.php$ version/104/frontend/cron.php
    RewriteRule ^version/103/frontend/cron.php$ version/104/frontend/cron.php

</IfModule>